

<nav>
    <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
            <li><a href="{{ path('home') }}">home</a></li>
            <li><a href="{{ path('detail') }}">liste</a></li>
            <li><a href="{{ path('add') }}">creation</a></li>

        </ul>
    </div>
</nav>
